.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35rem;
    width: 40%;
    min-width: 25rem;
    background: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    header {
        font-size: 4em;
        font-family: 'Coiny';
        margin-top: 5rem;
    }
    span {
        font-size: 1.2em;
    }
    .error {
        color: red;
    }
    .success {
        color: blue;
    }
    input {
        margin-top: 1rem;
        border: 1px solid black;
        border-radius: 25px;
        text-align: center;
        font-size: 1em;
        width: 70%;
        height: 2rem;
        ::placeholder {
            color: #727272;
        }
        &:focus {
            outline: none;
        }
    }
    div {
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        a {
            white-space: nowrap;
            color: #FF5854;
            text-decoration: none;
        }
    }
    button {
        margin-top: 3.5rem;
        border: 1px solid #FFAB5F;
        border-radius: 25px;
        background: #FFAB5F;
        width: 10rem;
        height: 3rem;
        font-size: 1.5em;
        font-family: 'Coiny';
        &:focus {
            outline: none;
        }
    }
}