html {
  height: 100%;
}

html body {
  background: linear-gradient(225deg, #ff4c4c, rgba(0, 0, 0, 0)), linear-gradient(135deg, #ffb834, rgba(0, 0, 0, 0)), linear-gradient(360deg, #ffff6a, rgba(0, 0, 0, 0));
}

.nav {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.nav span {
  color: white;
  font-size: 1.2em;
  font-family: 'Coiny';
  white-space: nowrap;
  padding-left: 1rem;
}

.nav span a {
  text-decoration: none;
  color: inherit;
}

.nav img {
  width: 1.8rem;
  vertical-align: text-bottom;
  padding-left: 1rem;
}

.main {
  text-align: center;
  margin-top: 11rem;
}

.main .lmb {
  color: white;
  font-size: calc(40px + (128 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Coiny';
  white-space: nowrap;
}

.main .searchbox {
  width: 30%;
  min-width: 10rem;
  height: 1.6rem;
  font-size: 1em;
  text-align: center;
  background: white url("/images/search.png") no-repeat 0 50%/1.45em;
  border: none;
  border-radius: 25px;
}

.main .searchbox ::-webkit-input-placeholder {
  color: #727272;
}

.main .searchbox :-ms-input-placeholder {
  color: #727272;
}

.main .searchbox ::-ms-input-placeholder {
  color: #727272;
}

.main .searchbox ::placeholder {
  color: #727272;
}

.main .searchbox:focus {
  outline: none;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30rem;
  width: 40%;
  min-width: 25rem;
  background: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login header {
  font-size: 4em;
  font-family: 'Coiny';
  margin-top: 3rem;
}

.login span {
  font-size: 1.2em;
  text-align: center;
}

.login .error {
  color: red;
}

.login .success {
  color: green;
}

.login input {
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  font-size: 1em;
  width: 70%;
  height: 2rem;
}

.login input ::-webkit-input-placeholder {
  color: #727272;
}

.login input :-ms-input-placeholder {
  color: #727272;
}

.login input ::-ms-input-placeholder {
  color: #727272;
}

.login input ::placeholder {
  color: #727272;
}

.login input:focus {
  outline: none;
}

.login div {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.login div a {
  white-space: nowrap;
  color: #FF5854;
  text-decoration: none;
}

.login button {
  margin-top: 2.5rem;
  border: 1px solid #FFAB5F;
  border-radius: 25px;
  background: #FFAB5F;
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  font-family: 'Coiny';
}

.login button:hover {
  cursor: pointer;
}

.login button:focus {
  outline: none;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35rem;
  width: 40%;
  min-width: 25rem;
  background: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.register header {
  font-size: 4em;
  font-family: 'Coiny';
  margin-top: 3rem;
}

.register span {
  font-size: 1.2em;
  text-align: center;
}

.register .error {
  color: red;
}

.register .success {
  color: green;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.register input {
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 25px;
  text-indent: 1rem;
  font-size: 1em;
  width: 70%;
  height: 2rem;
}

.register input ::-webkit-input-placeholder {
  color: #727272;
}

.register input :-ms-input-placeholder {
  color: #727272;
}

.register input ::-ms-input-placeholder {
  color: #727272;
}

.register input ::placeholder {
  color: #727272;
}

.register input:focus {
  outline: none;
}

.register a {
  width: 70%;
  margin-top: 1.5rem;
  white-space: nowrap;
  color: #FF5854;
  text-decoration: none;
  text-align: right;
}

.register button {
  margin-top: 3rem;
  border: 1px solid #FFAB5F;
  border-radius: 25px;
  background: #FFAB5F;
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  font-family: 'Coiny';
}

.register button:hover {
  cursor: pointer;
}

.register button:focus {
  outline: none;
}

.large {
  height: 40rem;
}

.setPwd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28rem;
  width: 40%;
  min-width: 25rem;
  background: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.setPwd header {
  font-size: calc(48px + (64 - 48) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Coiny';
  margin-top: 3.5rem;
  margin-bottom: -0.5rem;
}

.setPwd span {
  font-size: 1.2em;
  text-align: center;
}

.setPwd .error {
  color: red;
}

.setPwd input {
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  font-size: 1em;
  width: 70%;
  height: 2rem;
}

.setPwd input ::-webkit-input-placeholder {
  color: #727272;
}

.setPwd input :-ms-input-placeholder {
  color: #727272;
}

.setPwd input ::-ms-input-placeholder {
  color: #727272;
}

.setPwd input ::placeholder {
  color: #727272;
}

.setPwd input:focus {
  outline: none;
}

.setPwd button {
  margin-top: 2rem;
  border: 1px solid #FFAB5F;
  border-radius: 25px;
  background: #FFAB5F;
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  font-family: 'Coiny';
}

.setPwd button:hover {
  cursor: pointer;
}

.setPwd button:focus {
  outline: none;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  min-width: 25rem;
  background: white;
  border-radius: 25px;
  margin: 7rem auto 2rem;
}

.user header {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Coiny';
}

.user .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user .user-info .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.user .user-info .col-1 img {
  width: 65%;
}

.user .user-info .col-1 .name {
  margin-top: 1rem;
  font-size: 1.5em;
  font-weight: bold;
}

.user .user-info .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: bold;
  width: 45%;
  font-size: 1.5em;
  margin-top: -2rem;
}

.user .user-info .col-2 .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.user .user-info .col-2 .row-1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user .user-info .col-2 .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user .user-info .col-2 .row-2 button {
  background: #FFAB5F;
  border: 1px solid #FFAB5F;
  border-radius: 25px;
  height: 2rem;
  font-weight: bold;
  font-size: 0.8em;
  white-space: nowrap;
}

.user .user-info .col-2 .row-2 button:hover {
  cursor: pointer;
}

.user .user-info .col-2 .row-2 button:focus {
  outline: none;
}

.user .user-info .col-2 .row-2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1rem;
}

.user .user-info .col-2 .row-2 div button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.change-pwd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35rem;
  width: 60%;
  min-width: 25rem;
  background: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.change-pwd header {
  font-size: 4em;
  font-family: 'Coiny';
  margin-top: 3rem;
  text-align: center;
}

.change-pwd span {
  font-size: 1.2em;
  text-align: center;
}

.change-pwd .error {
  color: red;
}

.change-pwd .success {
  color: green;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.change-pwd input {
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 1em;
  width: 70%;
  height: 2rem;
  text-align: center;
}

.change-pwd input ::-webkit-input-placeholder {
  color: #727272;
}

.change-pwd input :-ms-input-placeholder {
  color: #727272;
}

.change-pwd input ::-ms-input-placeholder {
  color: #727272;
}

.change-pwd input ::placeholder {
  color: #727272;
}

.change-pwd input:focus {
  outline: none;
}

.change-pwd button {
  margin-top: 3rem;
  border: 1px solid #FFAB5F;
  border-radius: 25px;
  background: #FFAB5F;
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  font-family: 'Coiny';
}

.change-pwd button:hover {
  cursor: pointer;
}

.change-pwd button:focus {
  outline: none;
}

.change-pwd .change {
  margin-right: 1rem;
}

.change-pwd .cancel {
  margin-left: 1rem;
}

.edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55rem;
  width: 50%;
  min-width: 25rem;
  background: white;
  border-radius: 25px;
  padding-bottom: 1rem;
  margin: auto;
}

.edit img {
  width: 30%;
}

.edit header {
  font-size: 4em;
  font-family: 'Coiny';
  text-align: center;
}

.edit span {
  font-size: 1.2em;
  text-align: center;
}

.edit .error {
  color: red;
}

.edit .success {
  color: green;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edit input {
  border: 1px solid black;
  border-radius: 25px;
  font-size: 1em;
  width: 70%;
  height: 2rem;
  text-indent: 1rem;
}

.edit input ::-webkit-input-placeholder {
  color: #727272;
}

.edit input :-ms-input-placeholder {
  color: #727272;
}

.edit input ::-ms-input-placeholder {
  color: #727272;
}

.edit input ::placeholder {
  color: #727272;
}

.edit input:focus {
  outline: none;
}

.edit textArea {
  height: 10rem;
  width: 70%;
  resize: none;
}

.edit textArea:focus {
  outline: none;
}

.edit button {
  border: 1px solid #FFAB5F;
  border-radius: 25px;
  background: #FFAB5F;
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  font-family: 'Coiny';
}

.edit button:hover {
  cursor: pointer;
}

.edit button:focus {
  outline: none;
}

.edit .submit {
  margin-right: 1rem;
}

.edit .cancel {
  margin-left: 1rem;
}

.edit .privacy {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2em;
}

.edit .privacy select {
  background: #FFAB5F;
  border: 1px solid #FFAB5F;
  border-radius: 25px;
  width: 7rem;
  text-align-last: center;
}

.edit .privacy select:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */